* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  line-height: 2.0rem;
  color: #333;
}

a {
  color: #222;
}

a:hover {
  color: magenta;
}

input, button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

input {
  display: block;
  width: 250px;
  padding: 8px 8px;
  margin: 2px 0 10px;
}

button {
  border: 0;
  background: #222;
  border-radius: 2px;
  padding: 10px 15px;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 300;
  cursor: pointer;
}

button:hover {
  background: magenta;
}

h1, h2, h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 50px 0 10px;
}