<div class="login-content">
  <h2>Login</h2>
  <form name="login" action="api/token" method="POST" class="login">
    <label>
      E-mail
      <input name="mail" type="text">
    </label>
    <label>
      Password
      <input name="password" type="password">
    </label>

    <button type="submit">Send</button>
  </form>

  <h2>Create account</h2>
  <form name="create" action="api/user" method="POST" class="create">
    <label>
      E-mail
      <input name="mail" type="text">
    </label>
    <label>
      Password
      <input name="password" type="password">
    </label>
    <label>
      First name
      <input name="firstName" type="text">
    </label>
    <label>
      Last name
      <input name="lastName" type="text">
    </label>
    <label>
      Street address
      <input name="streetAddress" type="text">
    </label>
    <label>
      Zip code
      <input name="zipCode" type="text">
    </label>
    <label>
      State
      <input name="state" type="text">
    </label>

    <button type="submit">Send</button>
  </form>
</div>